In [117]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold, cross_val_predict
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.dummy import DummyClassifier
from scipy import stats
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier
# import lightgbm as lgb
from sklearn.tree import DecisionTreeClassifier
import plotly.express as px
import plotly.graph_objects as go

sns.set()

In [97]:
tdata=pd.read_csv("train.csv")

In [98]:
tdata

,ID,sequence1,sequence2,sequence3,sequence4,sequence5,sequence6,sequence7,sequence8,sequence9,...,M,N,O,P,Q,R,S,T,U,mutation
0,0,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,2,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
2,5,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.524760,0.580085,0.301498,0.261055,0.193988,0.935688,0.685868,0.277694,0.428115,0
3,7,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATTCCATATTTT,AAATCAGCTAAA,TAACATACAGAG,TAACATACAGAG,...,0.943545,0.209744,0.670577,0.772650,0.845751,0.507320,0.927204,0.605755,0.454155,1
4,9,ATGCGCTTAATT,GATCGTAGCTAA,ATGCGCTTAATT,GATCGTAGCTAA,GATCGTAGCTAA,ATTCCATATTTT,AAATCAGCTAAA,ATTCCATATTTT,TAACATACAGAG,...,0.397622,0.506096,0.200673,0.734145,0.521673,0.365571,0.416094,0.584799,0.447149,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179995,299995,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,ATTCCATATTTT,AAATCAGCTAAA,ATTCCATATTTT,AAATCAGCTAAA,...,0.662428,0.671927,0.390566,0.145840,0.262767,0.514248,0.519340,0.617436,0.688007,0
179996,299996,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,ATGCGCTTAATT,GATCGTAGCTAA,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.821657,0.620356,0.384891,0.735879,0.547731,0.726653,0.470575,0.275743,0.638939,0
179997,299997,ATGCGCTTAATT,GATCGTAGCTAA,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,ATTCCATATTTT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,...,0.407037,0.232436,0.832482,0.810663,0.596939,0.308821,0.373997,0.518024,0.452144,1
179998,299998,GATCGTAGCTAA,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,GTCATGCACCCT,ATTCCATATTTT,GTCATGCACCCT,...,0.808045,0.630708,0.346898,0.735147,0.563488,0.609836,0.680430,0.318453,0.335822,0
179999,299999,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.775451,0.848696,0.819377,0.355467,0.218153,0.968856,0.823655,0.330515,0.972569,0

In [3]:
df=tdata.copy()

In [4]:
df.shape

(180000, 32)

In [5]:
test_df=pd.read_csv("test.csv")
dataset=pd.concat([df,test_df])

In [6]:
#checking for similar columns

In [7]:
for j in df.columns:
    for i in df.columns:
        #print(i)
        if i !=j:
            a=np.where((df[j] == df[i]))
            for k in a:
                if len(k) == 180000:
                    print(len(k),j,i)

In [8]:
test_df.isnull().sum()

ID           0
sequence1    0
sequence2    0
sequence3    0
sequence4    0
sequence5    0
sequence6    0
sequence7    0
sequence8    0
sequence9    0
A            0
B            0
C            0
D            0
E            0
F            0
G            0
H            0
I            0
J            0
K            0
L            0
M            0
N            0
O            0
P            0
Q            0
R            0
S            0
T            0
U            0
dtype: int64

In [9]:
df["sequence9"].dtype=="O"

True

In [10]:
for i in df.columns:
    if df[i].dtype=="O":
        df[i] = pd.Categorical(df[i]).codes

In [11]:
a=df.corr()["mutation"]
d=a[a>0.2 ].index.tolist()

In [12]:
d

['sequence2',
 'sequence4',
 'sequence5',
 'sequence6',
 'sequence9',
 'B',
 'P',
 'mutation']

In [13]:
a[a<-0.1]

sequence1   -0.269125
sequence7   -0.424168
G           -0.125115
I           -0.118136
N           -0.150777
Name: mutation, dtype: float64

In [14]:
-0.4>-0.9

True

In [15]:
a=df.cov()["mutation"]
c=a[a>0.2].index.tolist()

In [16]:
d.extend(c)

In [17]:
a=df.corr(method="kendall")["mutation"]
g=a[a>0.5].index.tolist()
g

C:\Users\Taha PC\anaconda3\lib\site-packages\scipy\stats\stats.py:4812: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

['mutation']

In [18]:
a=df.corr()["mutation"]
sp=a[a>0.4].index.tolist()
sp

['mutation']

In [19]:
ds=dataset.copy()
for i in ds.columns:
    if ds[i].dtype=="O":
        ds[i] = pd.Categorical(ds[i]).codes

In [20]:
a=ds.cov()["mutation"]
f=a[a>0.1 ].index.tolist()

In [77]:
ds

,ID,sequence1,sequence2,sequence3,sequence4,sequence5,sequence6,sequence7,sequence8,sequence9,...,M,N,O,P,Q,R,S,T,U,mutation
0,0,0,0,0,0,0,0,1,1,0,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0.0
1,2,0,0,1,0,0,0,1,1,0,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0.0
2,5,0,0,0,0,0,0,1,1,0,...,0.524760,0.580085,0.301498,0.261055,0.193988,0.935688,0.685868,0.277694,0.428115,0.0
3,7,0,0,0,0,0,1,0,3,3,...,0.943545,0.209744,0.670577,0.772650,0.845751,0.507320,0.927204,0.605755,0.454155,1.0
4,9,0,1,0,1,1,1,0,1,3,...,0.397622,0.506096,0.200673,0.734145,0.521673,0.365571,0.416094,0.584799,0.447149,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,299983,0,0,1,0,0,0,1,1,1,...,0.260891,0.390874,0.208736,0.799856,0.944627,0.235131,0.303993,0.726861,0.385247,NaN
119996,299984,0,0,0,0,1,1,0,0,0,...,0.461298,0.228659,0.266070,0.079081,0.210897,0.453764,0.416162,0.384102,0.337177,NaN
119997,299990,0,0,0,1,1,1,0,3,0,...,0.238612,0.269438,0.592967,0.147710,0.721238,0.264155,0.683730,0.265648,0.409764,NaN
119998,299991,0,0,1,0,0,0,1,1,0,...,0.309847,0.597138,0.365207,0.489361,0.524614,0.250419,0.419844,0.454539,0.312508,NaN
119999,299992,0,0,0,0,1,1,1,0,0,...,0.937945,0.563218,0.668329,0.618228,0.619421,0.793599,0.685094,0.947535,0.493094,NaN

In [106]:
X=ds.drop(columns=["mutation"])
#X=ds[['sequence1', 'sequence7', 'A', 'L', 'M', 'O', 'P', 'Q']]
y=ds['mutation']

In [107]:
X

,ID,sequence1,sequence2,sequence3,sequence4,sequence5,sequence6,sequence7,sequence8,sequence9,...,L,M,N,O,P,Q,R,S,T,U
0,0,0,0,0,0,0,0,1,1,0,...,0.855349,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915
1,2,0,0,1,0,0,0,1,1,0,...,0.322749,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452
2,5,0,0,0,0,0,0,1,1,0,...,0.413038,0.524760,0.580085,0.301498,0.261055,0.193988,0.935688,0.685868,0.277694,0.428115
3,7,0,0,0,0,0,1,0,3,3,...,0.966719,0.943545,0.209744,0.670577,0.772650,0.845751,0.507320,0.927204,0.605755,0.454155
4,9,0,1,0,1,1,1,0,1,3,...,0.302896,0.397622,0.506096,0.200673,0.734145,0.521673,0.365571,0.416094,0.584799,0.447149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,299983,0,0,1,0,0,0,1,1,1,...,0.181230,0.260891,0.390874,0.208736,0.799856,0.944627,0.235131,0.303993,0.726861,0.385247
119996,299984,0,0,0,0,1,1,0,0,0,...,0.262951,0.461298,0.228659,0.266070,0.079081,0.210897,0.453764,0.416162,0.384102,0.337177
119997,299990,0,0,0,1,1,1,0,3,0,...,0.210515,0.238612,0.269438,0.592967,0.147710,0.721238,0.264155,0.683730,0.265648,0.409764
119998,299991,0,0,1,0,0,0,1,1,0,...,0.368906,0.309847,0.597138,0.365207,0.489361,0.524614,0.250419,0.419844,0.454539,0.312508
119999,299992,0,0,0,0,1,1,1,0,0,...,0.859802,0.937945,0.563218,0.668329,0.618228,0.619421,0.793599,0.685094,0.947535,0.493094

In [108]:
#X=X.drop(columns=["mutation"])

In [109]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [110]:
df.shape

(180000, 32)

In [111]:

X_train = X[:180000]
y_train = y[:180000]

X_extra=X[:100000]
y_extra=y[:100000]
x_t=X[100000:180000]
y_t=y[100000:180000]

model =SVC(C=100)
#print(train_X,train_y)
model.fit(X_extra, y_extra)
y_pred=model.predict(x_t)
accuracy_score(y_t, y_pred)

In [112]:

X_train = X[:180000]
y_train = y[:180000]
y_train=y_train.astype(int)
X_test=X[180000:]

In [113]:
X_test=X[180000:]

In [114]:
X_test

array([[-1.73203349, -0.5849203 , -0.39825287, ..., -0.49551903,
         2.35409893, -0.07129282],
       [-1.73201039, -0.5849203 , -0.39825287, ...,  0.81316129,
         1.49510667,  2.09453177],
       [-1.73199885, -0.5849203 , -0.39825287, ..., -0.76499927,
        -0.57790977, -0.88139728],
       ...,
       [ 1.73194111, -0.5849203 , -0.39825287, ...,  1.09275398,
        -1.04797678, -0.48411502],
       [ 1.73195266, -0.5849203 , -0.39825287, ..., -0.38107024,
        -0.076897  , -0.96228305],
       [ 1.73196421, -0.5849203 , -0.39825287, ...,  1.10037107,
         2.45758124, -0.07441506]])

In [138]:
from sklearn.neighbors import KNeighborsClassifier

In [139]:
from sklearn.metrics import accuracy_score

no_splits = 10
kfold = KFold(n_splits=no_splits, shuffle=True, random_state=1)
counter = 0
models = {}
scores = []
model_s=[]
for train, test in kfold.split(X_train):
    counter += 1
    print(train.shape, test.shape)
    train_X, test_X = X_train[train], X_train[test]
    train_y, test_y = y_train[train], y_train[test]
    print(train_y.shape, train_y.shape)
    print("end")
#   fit model
    model =KNeighborsClassifier()
    #print(train_X,train_y)
    model.fit(train_X, train_y)
    models[f"model{str(counter)}"] = model
#   evaluate model
    yhat = model.predict(test_X)
    acc = accuracy_score(test_y, yhat)
    model_s.append(model)
    scores.append(acc)

(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end
(162000,) (18000,)
(162000,) (162000,)
end

In [140]:



scores=pd.DataFrame(scores)
scores

          0
0  0.826500
1  0.820333
2  0.825389
3  0.824611
4  0.824778
5  0.827778
6  0.827944
7  0.823278
8  0.825611
9  0.824278

In [141]:
models

{'model1': KNeighborsClassifier(),
 'model2': KNeighborsClassifier(),
 'model3': KNeighborsClassifier(),
 'model4': KNeighborsClassifier(),
 'model5': KNeighborsClassifier(),
 'model6': KNeighborsClassifier(),
 'model7': KNeighborsClassifier(),
 'model8': KNeighborsClassifier(),
 'model9': KNeighborsClassifier(),
 'model10': KNeighborsClassifier()}

In [34]:
models
y_test=y[180000:]

In [35]:
y_test

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
119995   NaN
119996   NaN
119997   NaN
119998   NaN
119999   NaN
Name: mutation, Length: 120000, dtype: float64

In [ ]:
models
y_test=y[180000:]
pred=models["model5"].predict(X_test)

In [ ]:
len(pred)

In [ ]:

pred=pd.DataFrame(pred)

In [ ]:
test=pd.read_csv("test.csv")
y_pred=pd.concat([test["ID"],pred],axis=1)

In [ ]:
tdata.columns

In [ ]:
y_pred.columns=["ID","mutation"]
y_pred

In [ ]:
y_pred.to_csv('knn.csv', index = False)

In [137]:
tdata.mutation

0         0
1         0
2         0
3         1
4         1
         ..
179995    0
179996    0
179997    1
179998    0
179999    0
Name: mutation, Length: 180000, dtype: int64

In [94]:
y_pred.loc[y_pred['Class'] == 0, 'Class',] = "a"
y_pred.loc[y_pred['Class'] == 1, 'Class',] = "b"

            ID  0
0            1  0
1            3  0
2            4  0
3            6  0
4            8  0
...        ... ..
119995  299983  0
119996  299984  1
119997  299990  1
119998  299991  0
119999  299992  1

[120000 rows x 2 columns]

with coeff

In [41]:
importance=models["model5"].feature_importances_

array([1.31448697, 4.57556882, 1.77806296, 0.67256842, 1.27212613,
       3.54478914, 3.58335077, 8.8616616 , 1.54461542, 2.53099682,
       5.74153285, 3.08969406, 0.74313628, 3.05201365, 0.78374705,
       1.53485259, 2.70328606, 2.78726949, 1.69679704, 4.10845715,
       3.07803591, 3.93098882, 4.68088986, 3.57827444, 5.00807224,
       7.00498482, 4.51882432, 2.76833975, 3.7752953 , 2.769732  ,
       2.96754926])

In [42]:
importance=pd.DataFrame(importance)

In [75]:
importance=pd.DataFrame(importance)
features=pd.DataFrame(ds.columns)

feat=pd.concat([features,importance],axis=1)
feat.columns=["columns","importance"]
cols=feat[feat.importance>4]["columns"].tolist()
cols

['sequence1', 'sequence7', 'A', 'J', 'M', 'O', 'P', 'Q']

In [49]:
feat=pd.concat([features,importance],axis=1)

In [52]:
feat.columns=["columns","importance"]

In [61]:
cols=feat[feat.importance>4]["columns"].tolist()

In [66]:
X=ds.drop(columns=["mutation"])
#X=ds[sp]
y=ds['mutation']

In [70]:
X=X[cols]

In [71]:
scaler = StandardScaler()
X = scaler.fit_transform(X)
X_train = X[:180000]
y_train = y[:180000]
y_train=y_train.astype(int)
X_test=X[180000:]

In [72]:
y_test=y[180000:]

In [74]:
predict_coeff=models["model5"].predict(X_test)

CatBoostError: C:/Program Files (x86)/Go Agent/pipelines/BuildMaster/catboost.git/catboost/libs/data/model_dataset_compatibility.cpp:72: Feature 8 is present in model but not in pool.

std

In [ ]:
a=ds.corr()["mutation"]
a[a>0.3]

In [ ]:
ds.sequence9

In [ ]:
ds

In [ ]:

dfa=tdata.copy()
factor=3
upper_limit=dfa["sequence9"].mean()+dfa["sequence9"].std()*factor
lower_limit=dfa["sequence9"].mean()-dfa["sequence9"].std()*factor
dfa=dfa[(dfa["sequence9"]<upper_limit)&(dfa["sequence9"]>lower_limit)]
dfa.shape

In [ ]:
df.shape[0]-dfa.shape[0]

In [ ]:
df.shape[0]*0.93

In [ ]:
df.shape[0]

In [ ]:
df

In [ ]:
test_df=pd.read_csv("test.csv")
dff=pd.concat([dfa,test_df])

In [ ]:

for i in dff.columns:
    if dff[i].dtype=="O":
        dff[i] = pd.Categorical(dff[i]).codes
dff

In [ ]:
X=dfa.drop(columns=["mutation"])
y=dfa["mutation"]